html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  color: #09043C;
  font: 14px OpenSans, Arial, Helvetica, sans-serif;
}

* {
  user-select: none;
}

#react-app {
  height: 100%;
  padding: 24px 18px;
  box-sizing: border-box;
}

.scripts-list {

}

h1 {
  margin: 0;
}
